*_{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color:#c47f7f ;
}
main{
    background-color: #FFDBDB;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #ffc6c6;
}